on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: install deps
        run: flutter pub get
      - name: build
        working-directory: ./example
        run: |
          flutter build web --release --web-renderer html --base-href /ultravox-client-sdk-flutter/
          cd build/web
          git init
          git config --global user.email mike@fixie.ai
          git config --global user.name gh-actions
          git status
          git remote add origin https://x-access-token:${{secrets.GITHUB_TOKEN}}@github.com/fixie-ai/ultravox-client-sdk-flutter.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f
